#mainPopup {
    padding: 10px;
    height: 200px;
    width: 400px;
    font-family: Helvetica, Ubuntu, Arial, sans-serif;
}

h1 {
    font-size: 2em;
    float: left;
}

#btnCopy {
    position: absolute;
    right: 23px;
    top: 30px;
    font-size: 3em;
    cursor: pointer;
}